.formlogin{
    width: 527px !important;
    height: 450px !important;
}
.login{
    width:100% !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
}
.formc{
    
    background-clip: padding-box !important;
    width: 15px !important;
    height: 15px !important;
}
@media only screen and (max-width:600px){
    .formlogin{
        max-width: 90% !important; 
        height: auto !important;
    }
    .form-label{
        width: 80% !important;
    }
}